*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.left{
    background-color: crimson;
    width: 25vw;
    max-height: 100%;
    font-family: "sedan sc";

}
 .image-profile {
    width: 100%;
    border-radius: 50%;
    padding: 5% 15%;
}

.left section{
    padding: 0 20% 15%;
}

.left h2{
    font-size: x-large;
}

.right{ 
    width: 75vw;
    padding: 5%;
    font-family: "sedan sc" ;
    margin: ;
}

.right aside{
    padding: 3% 0 0 0;

}

.right span{
    display: flex;
    align-items: flex-start;
    padding-right: 2%;
}

.experience section{
    
    padding-bottom: 5%;
}






